<a href="https://colab.research.google.com/github/jiseon0516/pdm19/blob/main/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab

## [2] Handling DataFrame
- head() - default 5
- tail() - default 5
- describe()
- info() - 데이터의 구조 보여줌

In [69]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [70]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head(7)

                   A         B         C         D
2021-09-27 -1.101917  1.999039 -1.040017 -1.885746
2021-09-28 -0.340370 -0.556168 -1.637887 -0.126768
2021-09-29 -0.038039 -0.613214 -0.507700 -0.372167
2021-09-30  1.289274  0.739432  0.236800 -1.381849
2021-10-01 -0.442228  1.520713 -1.003919 -0.564867
2021-10-02 -1.373506 -0.462848  1.092600 -0.607816

In [71]:
df.head(2)

                   A         B         C         D
2021-09-27 -1.101917  1.999039 -1.040017 -1.885746
2021-09-28 -0.340370 -0.556168 -1.637887 -0.126768

In [72]:
df.tail(3)

                   A         B         C         D
2021-09-30  1.289274  0.739432  0.236800 -1.381849
2021-10-01 -0.442228  1.520713 -1.003919 -0.564867
2021-10-02 -1.373506 -0.462848  1.092600 -0.607816

In [73]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [74]:
df.columns #열의 이름

Index(['A', 'B', 'C', 'D'], dtype='object')

In [75]:
df.info() #=np.nan, non-null: 값 o

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-09-27 to 2021-10-02
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [76]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.334464  0.437826 -0.476687 -0.823202
std    0.938577  1.149341  0.991603  0.669726
min   -1.373506 -0.613214 -1.637887 -1.885746
25%   -0.936995 -0.532838 -1.030992 -1.188341
50%   -0.391299  0.138292 -0.755809 -0.586341
75%   -0.113622  1.325393  0.050675 -0.420342
max    1.289274  1.999039  1.092600 -0.126768

In [77]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A    6.0 -0.334464  0.938577 -1.373506 -0.936995 -0.391299 -0.113622  1.289274
B    6.0  0.437826  1.149341 -0.613214 -0.532838  0.138292  1.325393  1.999039
C    6.0 -0.476687  0.991603 -1.637887 -1.030992 -0.755809  0.050675  1.092600
D    6.0 -0.823202  0.669726 -1.885746 -1.188341 -0.586341 -0.420342 -0.126768

In [78]:
df

                   A         B         C         D
2021-09-27 -1.101917  1.999039 -1.040017 -1.885746
2021-09-28 -0.340370 -0.556168 -1.637887 -0.126768
2021-09-29 -0.038039 -0.613214 -0.507700 -0.372167
2021-09-30  1.289274  0.739432  0.236800 -1.381849
2021-10-01 -0.442228  1.520713 -1.003919 -0.564867
2021-10-02 -1.373506 -0.462848  1.092600 -0.607816

In [79]:
# Transposing your dataframe:
df.T #행과 열이 바뀜

   2021-09-27  2021-09-28  2021-09-29  2021-09-30  2021-10-01  2021-10-02
A   -1.101917   -0.340370   -0.038039    1.289274   -0.442228   -1.373506
B    1.999039   -0.556168   -0.613214    0.739432    1.520713   -0.462848
C   -1.040017   -1.637887   -0.507700    0.236800   -1.003919    1.092600
D   -1.885746   -0.126768   -0.372167   -1.381849   -0.564867   -0.607816

In [80]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [81]:
df

                   A         B         C         D
2021-09-27 -1.101917  1.999039 -1.040017 -1.885746
2021-09-28 -0.340370 -0.556168 -1.637887 -0.126768
2021-09-29 -0.038039 -0.613214 -0.507700 -0.372167
2021-09-30  1.289274  0.739432  0.236800 -1.381849
2021-10-01 -0.442228  1.520713 -1.003919 -0.564867
2021-10-02 -1.373506 -0.462848  1.092600 -0.607816

In [82]:
# Sorting by an axis:
df, df.sort_index(axis=0, ascending=False) # ascending=False 주석 처리 해보기

(                   A         B         C         D
 2021-09-27 -1.101917  1.999039 -1.040017 -1.885746
 2021-09-28 -0.340370 -0.556168 -1.637887 -0.126768
 2021-09-29 -0.038039 -0.613214 -0.507700 -0.372167
 2021-09-30  1.289274  0.739432  0.236800 -1.381849
 2021-10-01 -0.442228  1.520713 -1.003919 -0.564867
 2021-10-02 -1.373506 -0.462848  1.092600 -0.607816,
                    A         B         C         D
 2021-10-02 -1.373506 -0.462848  1.092600 -0.607816
 2021-10-01 -0.442228  1.520713 -1.003919 -0.564867
 2021-09-30  1.289274  0.739432  0.236800 -1.381849
 2021-09-29 -0.038039 -0.613214 -0.507700 -0.372167
 2021-09-28 -0.340370 -0.556168 -1.637887 -0.126768
 2021-09-27 -1.101917  1.999039 -1.040017 -1.885746)

In [83]:
df,df.sort_index(axis=1, ascending=False)

(                   A         B         C         D
 2021-09-27 -1.101917  1.999039 -1.040017 -1.885746
 2021-09-28 -0.340370 -0.556168 -1.637887 -0.126768
 2021-09-29 -0.038039 -0.613214 -0.507700 -0.372167
 2021-09-30  1.289274  0.739432  0.236800 -1.381849
 2021-10-01 -0.442228  1.520713 -1.003919 -0.564867
 2021-10-02 -1.373506 -0.462848  1.092600 -0.607816,
                    D         C         B         A
 2021-09-27 -1.885746 -1.040017  1.999039 -1.101917
 2021-09-28 -0.126768 -1.637887 -0.556168 -0.340370
 2021-09-29 -0.372167 -0.507700 -0.613214 -0.038039
 2021-09-30 -1.381849  0.236800  0.739432  1.289274
 2021-10-01 -0.564867 -1.003919  1.520713 -0.442228
 2021-10-02 -0.607816  1.092600 -0.462848 -1.373506)

#### Sort by value
- sort_values(by='column')

In [84]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False) #B열 기준으로

(                   A         B         C         D
 2021-09-27 -1.101917  1.999039 -1.040017 -1.885746
 2021-09-28 -0.340370 -0.556168 -1.637887 -0.126768
 2021-09-29 -0.038039 -0.613214 -0.507700 -0.372167
 2021-09-30  1.289274  0.739432  0.236800 -1.381849
 2021-10-01 -0.442228  1.520713 -1.003919 -0.564867
 2021-10-02 -1.373506 -0.462848  1.092600 -0.607816,
                    A         B         C         D
 2021-09-29 -0.038039 -0.613214 -0.507700 -0.372167
 2021-09-28 -0.340370 -0.556168 -1.637887 -0.126768
 2021-10-02 -1.373506 -0.462848  1.092600 -0.607816
 2021-09-30  1.289274  0.739432  0.236800 -1.381849
 2021-10-01 -0.442228  1.520713 -1.003919 -0.564867
 2021-09-27 -1.101917  1.999039 -1.040017 -1.885746)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [85]:
# Selecting a single column, which yields a Series
df['A'] #인덱스와 값 출력

2021-09-27   -1.101917
2021-09-28   -0.340370
2021-09-29   -0.038039
2021-09-30    1.289274
2021-10-01   -0.442228
2021-10-02   -1.373506
Freq: D, Name: A, dtype: float64

In [86]:
# Selecting via [], which slices the rows.
df[0:3] #0,1,2행 슬라이싱

                   A         B         C         D
2021-09-27 -1.101917  1.999039 -1.040017 -1.885746
2021-09-28 -0.340370 -0.556168 -1.637887 -0.126768
2021-09-29 -0.038039 -0.613214 -0.507700 -0.372167

In [87]:
#값을 이용한 슬라이싱
df['20210927':'20211001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.
#맨 마지막 값까지 출력(9월 30일 x)

                   A         B         C         D
2021-09-27 -1.101917  1.999039 -1.040017 -1.885746
2021-09-28 -0.340370 -0.556168 -1.637887 -0.126768
2021-09-29 -0.038039 -0.613214 -0.507700 -0.372167
2021-09-30  1.289274  0.739432  0.236800 -1.381849
2021-10-01 -0.442228  1.520713 -1.003919 -0.564867

#### Selecting data by label [중요!!]

> **loc, iloc**

In [88]:
df

                   A         B         C         D
2021-09-27 -1.101917  1.999039 -1.040017 -1.885746
2021-09-28 -0.340370 -0.556168 -1.637887 -0.126768
2021-09-29 -0.038039 -0.613214 -0.507700 -0.372167
2021-09-30  1.289274  0.739432  0.236800 -1.381849
2021-10-01 -0.442228  1.520713 -1.003919 -0.564867
2021-10-02 -1.373506 -0.462848  1.092600 -0.607816

In [89]:
dates[0] #Timestamp: 하루(특정한 날), freq='D': 단위 (날, 하루)

Timestamp('2021-09-27 00:00:00', freq='D')

In [90]:
df.loc[dates[0]]   # loc(): value를 []로 지정해 데이터 뽑아냄

A   -1.101917
B    1.999039
C   -1.040017
D   -1.885746
Name: 2021-09-27 00:00:00, dtype: float64

In [91]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']] #A,B 동시에 지정할 시 리스트로

                   A         B
2021-09-27 -1.101917  1.999039
2021-09-28 -0.340370 -0.556168
2021-09-29 -0.038039 -0.613214
2021-09-30  1.289274  0.739432
2021-10-01 -0.442228  1.520713
2021-10-02 -1.373506 -0.462848

#### [DIY: 도전코딩]

> Select data for first two days AND column 3,4 from df using loc[].
- 소괄호, 대괄호 구분

In [92]:
#<중간고사> 옳지 않은 것#

# df.loc[0:2,['C','D']]
#TypeError: cannot do slice indexing on DatetimeIndex with these indexers [0] of type int - DatetimeIndex에 대해 정수 인덱싱(0:2) 불가/range 인덱스 불가 => iloc() 이용

df.loc['20210927':'20210928',['C','D']] #value indexing

df.loc[dates[:2],['C','D']] #dates[:2]는 값이기 때문에 인덱싱 가능

                   C         D
2021-09-27 -1.040017 -1.885746
2021-09-28 -1.637887 -0.126768

#### Selecting data by position (iloc())
- index 사용
- iloc(): integer index

In [93]:
df

                   A         B         C         D
2021-09-27 -1.101917  1.999039 -1.040017 -1.885746
2021-09-28 -0.340370 -0.556168 -1.637887 -0.126768
2021-09-29 -0.038039 -0.613214 -0.507700 -0.372167
2021-09-30  1.289274  0.739432  0.236800 -1.381849
2021-10-01 -0.442228  1.520713 -1.003919 -0.564867
2021-10-02 -1.373506 -0.462848  1.092600 -0.607816

In [94]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.
#9월 30일 결과

A    1.289274
B    0.739432
C    0.236800
D   -1.381849
Name: 2021-09-30 00:00:00, dtype: float64

In [95]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C         D
2021-09-27 -1.040017 -1.885746
2021-09-28 -1.637887 -0.126768

In [96]:
# Select one item
df.iloc[1,1]

-0.556168066494529

In [97]:
# [DIY: 다시 도전]
# Select data for first three days from df
# Your code

# df[:3,:] 
#TypeError: '(slice(None, 3, None), slice(None, None, None))' is an invalid key

df.iloc[:3,:]

                   A         B         C         D
2021-09-27 -1.101917  1.999039 -1.040017 -1.885746
2021-09-28 -0.340370 -0.556168 -1.637887 -0.126768
2021-09-29 -0.038039 -0.613214 -0.507700 -0.372167

#### Selecting data by Boolean indexing

In [98]:
df

                   A         B         C         D
2021-09-27 -1.101917  1.999039 -1.040017 -1.885746
2021-09-28 -0.340370 -0.556168 -1.637887 -0.126768
2021-09-29 -0.038039 -0.613214 -0.507700 -0.372167
2021-09-30  1.289274  0.739432  0.236800 -1.381849
2021-10-01 -0.442228  1.520713 -1.003919 -0.564867
2021-10-02 -1.373506 -0.462848  1.092600 -0.607816

In [99]:
df.A>0

2021-09-27    False
2021-09-28    False
2021-09-29    False
2021-09-30     True
2021-10-01    False
2021-10-02    False
Freq: D, Name: A, dtype: bool

In [100]:
df[df.A > 0] #지정은 [] 이용, df.A>0: 조건에 만족하는 날짜 추출

                   A         B       C         D
2021-09-30  1.289274  0.739432  0.2368 -1.381849

In [101]:
df > 0

                A      B      C      D
2021-09-27  False   True  False  False
2021-09-28  False  False  False  False
2021-09-29  False  False  False  False
2021-09-30   True   True   True  False
2021-10-01  False   True  False  False
2021-10-02  False  False   True  False

In [102]:
df[df > 0] #True는 출력, False는 NaN 출력

                   A         B       C   D
2021-09-27       NaN  1.999039     NaN NaN
2021-09-28       NaN       NaN     NaN NaN
2021-09-29       NaN       NaN     NaN NaN
2021-09-30  1.289274  0.739432  0.2368 NaN
2021-10-01       NaN  1.520713     NaN NaN
2021-10-02       NaN       NaN  1.0926 NaN

In [103]:
df[df < 0]

                   A         B         C         D
2021-09-27 -1.101917       NaN -1.040017 -1.885746
2021-09-28 -0.340370 -0.556168 -1.637887 -0.126768
2021-09-29 -0.038039 -0.613214 -0.507700 -0.372167
2021-09-30       NaN       NaN       NaN -1.381849
2021-10-01 -0.442228       NaN -1.003919 -0.564867
2021-10-02 -1.373506 -0.462848       NaN -0.607816